@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Maven+Pro&family=Meow+Script&family=Parisienne&family=Petit+Formal+Script&family=Playfair+Display&family=Rouge+Script&family=Sofia&family=Urbanist:wght@300&display=swap');

::selection {
    background-color: gray;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 500px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(251, 186, 191, 0.541), rgba(161, 149, 190, 0.516));
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
}

.title {
    color: rgb(116, 141, 166);
    margin: 3rem 0;
    font-family: 'Urbanist', sans-serif;
    font-size: 2rem;
}

.input {
    margin: 0.5rem 0;
    padding: 1rem 0.5rem;
    width: 20rem;
    background-color: inherit;
    color: rgb(56, 55, 53);
    border: none;
    outline: none;
}

.username {
    border-bottom: 1px solid rgb(170, 138, 141);
    transition: all 400ms;
}

.username:hover {
    background-color: rgba(187, 129, 134, 0.541);
    border: none;
    border-radius: 0.5rem;
}

.password {
    border-bottom: 1px solid wheat;
    transition: all 400ms;
}

.password:hover {
    background-color: #424242;
    border: none;
    border-radius: 0.5rem;
}

.btn {
    height: 3rem;
    width: 20rem;
    margin-top: 3rem;

    background-color: rgba(166, 155, 190, 0.468);
    border-radius: 0.5rem;
    color: rgb(116, 141, 166);
    border: none;
    font-size: 1.2rem;
    transition: all 400ms;
    box-shadow: 0 0 10px  rgba(166, 155, 190, 0.468), 0 0 10px rgba(166, 155, 190, 0.468);
}

.btn:hover {
    background-color: rgb(166, 155, 190);
    
    box-shadow: none;
}

/* HACER QUE UN INPUT DE TIPO NUMERO PAREZCA DE TEXTO */
/* Reset input number styles */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Estilo para el campo de carga de archivos */
input[type="file"] {
    display: none; /* Oculta el campo de carga de archivos por defecto */
  }

  /* Estilo para el botón personalizado */
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    height: 3rem;
    width: 20rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: rgb(242, 215, 217);
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;

    text-align: center;
    transition: all 400ms;
    color: rgb(116, 141, 166);
    box-shadow: 0 0 10px  rgb(242, 215, 217), 0 0 10px rgb(242, 215, 217);
  }

  .custom-file-upload:hover {
    background-color: rgba(187, 129, 134, 0.541);
    color: antiquewhite;
    box-shadow: none;
  }