@import url("https://font.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Meow+Script&family=Parisienne&family=Petit+Formal+Script&family=Playfair+Display&family=Quicksand:wght@500&family=Rouge+Script&family=Sofia&family=Urbanist:wght@300&display=swap');

/*
    PALETA DE COLORES NUEVA

    1. #F26680
    2. #D93672
    3. #73206D
    4. #F2CCB6
    5. #F27777

    Botones: font-family: 'M PLUS Rounded 1c', sans-serif;

*/




body {
    min-height: 100vh;
    background: url(/IMG/fondo2.png) no-repeat center;
    background-size: cover;
    background-position: center;

}

/*---- CABECERA -----*/
.cabecera {
    width: 100%;
    display: flex;
    background-color: #f26680af;
    backdrop-filter: blur(20px);
    z-index: 5;

    .cabecera-logo{
        width: 300px;
        display: flex;
        align-items: center;
        margin: 0px 51% 0px 0px;

        @media (max-width: 768px){
            margin: 0px 2% 0px 0px;
        }

        .cabecera-logo-text {
            font-family: 'Quicksand', sans-serif;
            color: #73206D;
            font-size: 30px;
        }
    }

    .cabecera-nav {
        text-align: center;
        display: flex;
        right: 0;
        width: 200px;
        gap: 16px;

        .cabecera-nav-login{
            margin-top: 15%;
            display: flex;
            width: 80px;
            transition: transform 0.3s;
            font-weight: 600;

            &:hover{
                transform: scale(1.05); /* Escalamos el botón un 5% más grande */
            }
        }
    }
}

.cabecera-nav-login a{
    text-decoration: none;
    color: #73206D;

    &:hover{
        text-decoration: underline;
    }
}

.cabecera-nav-login i {
    color: #73206D;
    margin-right: 5px;
    font-size: 20px;
}

/*---- FORMULARIO PARA LOGIN Y REGISTRO -----*/



.wrapper {
    width: 420px;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    padding: 30px 40px;
    color: #fff;
    border-radius: 10px;
    margin: 50px 0px 0px 35%;

    @media (max-width: 768px){
        margin: 50px 0px 0px 20%;
    }

    .input-box {
        position: relative;
        width: 100%;
        height: 50px;
        margin: 30px 0;
    }

    .remember-forgot {
        display: flex;
        justify-content: space-between;
        font-size: 14.5px;
        margin: -15px 0 15px
    }

    .btn {
        width: 100%;
        height: 45px;
        background: #fff;
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        cursor: pointer;
        font-size: 16px;
        color: #333;
        font-weight: 600;
    }

    .register-link {
        font-size: 14.5px;
        text-align: center;
        margin: 20px 0 15px;

    }
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;


    &::placeholder {
        color: #fff;
    }

}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}


.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}

/* Estilos para la ventana emergente */

.error-carta{
    background-color: rgba(254, 5, 5, 0.389);
    position:absolute;
    z-index: 20;
    width: 450px;
    top: 0;
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    margin: 250px 0px 0px 33.8%;

    @media (max-width: 768px){
        margin: 250px 0px 0px 17.8%;
    }
}

.modal-content {
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 5px;
    color: white;
}

/* Estilos para el icono de cierre */
.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.close:hover {
    color: rgb(4, 4, 4);
}

/*--- PIE DE PAGINA ---*/
.footer {
    left: 0;
    width: 100%;
    margin-top: 50px;
    background-color: #f26680af;
    backdrop-filter: blur(20px);
    z-index: 5;
    display: flex;
    color: #fff;
    font-weight: 600;
    bottom: 0; /* Esto mantiene el pie de página en la parte inferior de la ventana del navegador. */

    .footer-logo {
        display: flex;
    }
}