@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Maven+Pro&family=Meow+Script&family=Parisienne&family=Petit+Formal+Script&family=Playfair+Display&family=Rouge+Script&family=Sofia&family=Urbanist:wght@300&display=swap');

.contenCartas {
    display: flex; /* Hace que los elementos hijos se comporten como elementos flex */
    flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente fila si no caben en una sola línea */
}
  

.card {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    /*background-image: radial-gradient(rgb(156, 180, 204), rgb(242, 215, 217));*/
    background-color: transparent;
    border-radius: 29px;
    width: 400px;
    height: 200px;
    margin-left: 35px;
    margin-top: 25px;
    box-shadow: 0 0 10px rgba(99, 98, 100, 0.441), 0 0 10px rgb(60, 59, 63);

    &:hover {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        transform: scale(1.05);
        box-shadow: none;
    }
}

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
}

.cabecera img {
    width: 20px;
    height: 20px;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);

    &:hover { 
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        transform: scale(1.25);
        cursor: pointer;
    }
}

.nombre-editorial {
    width: 400px;
    top: 18px;
    text-align: center;
    font-size: 2.1rem;
    font-family: 'Urbanist', sans-serif;

    .view-editorials{
        font-style: none;
        color: rgb(30, 35, 39);
    }
}


.agregarEdit{
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background-color: rgb(246, 187, 191) ;
    text-align: center;
    margin: 50px 150px;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    &:hover { 
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        transform: scale(1.25);
        cursor: pointer;
    }
}

.agregarEdit img{

    width: 100px;
    height: 100px;
}
