@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Maven+Pro&family=Meow+Script&family=Parisienne&family=Petit+Formal+Script&family=Playfair+Display&family=Rouge+Script&family=Sofia&family=Urbanist:wght@300&display=swap');

.cartaAuthor {
    display: flex; /* Hace que los elementos hijos se comporten como elementos flex */
    flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente fila si no caben en una sola línea */
}

.card {
    width: 280px;
    height: 280px;
    background: rgba(242, 215, 217, 0.742);
    border-radius: 32px;
    padding: 3px;
    position: relative;
    box-shadow: #604b4a30 0px 70px 30px -50px;
    transition: all 0.5s ease-in-out;
    margin-left: 50px;
    margin-bottom: 35px;
}

.card .mail {
    position: absolute;
    right: 2rem;
    top: 1.4rem;
    background: transparent;
    border: none;
}

.card .mail svg {
    stroke: #fbb9b6;
    stroke-width: 3px;
}

.card .mail svg:hover {
    stroke: #f55d56;
}

.card .profile-pic {
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    top: 3px;
    left: 3px;
    background-image: radial-gradient(rgb(156, 180, 204), rgb(242, 215, 217));
    border-radius: 29px;
    z-index: 1;
    border: 0px solid rgb(211, 206, 223);
    overflow: hidden;
    transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
}

.card .profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ajusta la imagen completamente sin distorsionar */
    opacity: 0.8;
    transition: all 0.5s ease-in-out 0s;
}

.card .profile-pic svg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transform-origin: 45% 20%;
    transition: all 0.5s ease-in-out 0s;
}

.card .bottom {
    position: absolute;
    bottom: 3px;
    left: 3px;
    right: 3px;
    background: rgb(211, 206, 223);
    top: 80%;
    border-radius: 29px;
    z-index: 2;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.card .bottom .content {
    position: absolute;
    top: 90px;
    bottom: 0;
    left: 3.4rem;
    right: 1.5rem;
    height: 160px;
}

.card .bottom .content .name {
    display: block;
    font-size: 1.6rem;
    color: rgb(116, 141, 166);
    font-family: 'Urbanist', sans-serif;
}


.card .bottom .bottom-bottom {
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .bottom .bottom-bottom .social-links-container {
    display: flex;
    gap: 1rem;
}

.card .bottom .bottom-bottom .social-links-container svg {
    height: 20px;
    fill: white;
    filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
}



.card .bottom .bottom-bottom .button {
    background: rgba(116, 141, 166, 0.368);
    color: rgb(116, 141, 166);
    border: none;
    border-radius: 10px;
    width: 70px;
    font-size: 1rem;
    box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
}


.card .bottom .bottom-bottom .button:hover {
    background: rgb(116, 141, 166);
    color: white;
}

.card:hover {
    border-top-left-radius: 55px;
}

.card:hover .bottom {
    top: 20%;
    border-radius: 80px 29px 29px 29px;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.card:hover .profile-pic {
    width: 100px;
    height: 100px;
    aspect-ratio: 1;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    z-index: 3;
    border: 7px solid rgb(211, 206, 223);
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
    transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
}

.card:hover .profile-pic:hover {
    transform: scale(1.3);
    border-radius: 0px;
}

.card:hover .profile-pic img {
    transition: all 0.5s ease-in-out 0.5s;
}

.card:hover .profile-pic svg {
    transform: scale(2.5);
    transition: all 0.5s ease-in-out 0.5s;
}


.agregarEdit{
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background-color: rgb(246, 187, 191) ;
    text-align: center;
    margin: 85px 85px;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    &:hover { 
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        transform: scale(1.25);
        cursor: pointer;
    }
}

.agregarEdit img{

    width: 100px;
    height: 100px;
}